.footer-background{
    background-color: $color-background-primary;
  }
  .text-white {
    li {
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  
  .text-white {
    li {
      a:hover {
        color: $color-text-hover !important;
      }
    }
  }

  .image-social{
    width: 120px;
  }
