.slider{
    width: 100%;
    height: 100vh;
}
.infor_slider {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.563);
    ._custom{
        padding-left: 10rem;
        padding-top: 2.5rem;
    }
}
.iframe_slider {
    transform: scale(1.2);
}